<form ngForm >
  <input [(ngModel)]="name" matInput placeholder="Nom du deck" name="deckname" >
  <button mat-raised-button (click)="createDeck(name)" color="primary" style="margin-right: 20px;"  >Créer un deck</button>
</form>

<br>
<br>
<br>

<mat-form-field>
  <mat-label>Decks</mat-label>
  <mat-select [(ngModel)]="selectedDeckID" (ngModelChange)="selectDeck()" name="selectedDeck" >
      <mat-option *ngFor="let deck of decklist" value="{{deck.id}}">{{ deck.name }}</mat-option>
  </mat-select>
</mat-form-field>


<div *ngIf="selectedDeckID > 0">
  <app-card *ngFor="let card of selectedDeck?.Cards" [health]="card.card.health" [card]="card.card" [id]="card.card.id" class="card fadeIn"></app-card>
</div>

{{selectedDeckID}}


<form ngForm >
  <button mat-raised-button (click)="deleteDeck()" color="primary" style="margin-right: 20px;"  >SUPPRIMER LE DECK</button>
</form>



