<form ngForm >
  <input [(ngModel)]="name" matInput placeholder="Nom du deck" name="deckname" >
  <button mat-raised-button (click)="createDeck(name)" color="primary" style="margin-right: 20px;"  >Créer un deck</button>
</form>

<br>
<br>
<br>

<mat-form-field>
  <mat-label>Decks</mat-label>
  <mat-select [(ngModel)]="selectedDeckID" (ngModelChange)="selectDeck()" name="selectedDeck" >
      <mat-option *ngFor="let deck of decklist" value="{{deck.id}}">{{ deck.name }}</mat-option>
  </mat-select>
</mat-form-field>

  <button [disabled]="selectedDeck?.isActive!" mat-raised-button (click)="deleteDeck()" color="primary" style="margin-right: 20px; margin-left: 20px"  >SUPPRIMER LE DECK</button>

  <input [(ngModel)]="isActive" (click)="setDeckAsActive()" [disabled]="selectedDeckID < 0" type="checkbox"> Current Deck


<div class="card-list" *ngIf="selectedDeckID > 0">
  <app-card *ngFor="let card of selectedDeck?.cards" [health]="card.card.health" [card]="card.card" [id]="card.card.id" class="card fadeIn"></app-card>
</div>

{{selectedDeckID}}






