<mat-toolbar style="display: flex;"  *ngIf="matchService.match == null">
  <mat-icon style="margin-right: 8px" routerLink="/">class</mat-icon>
  <a routerLink="/"><span>Super Cartes Infinies</span></a>
  <span style="flex: 1 1 auto;"></span>

  <p>{{ money | async }}</p>

  <mat-chip *ngIf="isLogged()" style="margin-right: 20px;">
    {{getUsername()}}
  </mat-chip>
  <button mat-raised-button color="warn" *ngIf="isLogged()" (click)="logout()">Se déconnecter</button>
  <button mat-raised-button color="accent"  (click)="service.Private()">Test</button>
</mat-toolbar>
<router-outlet></router-outlet>