<mat-card>
  <form [formGroup]="Rform">
    <div>
      <mat-form-field>
        <label>Name</label>
        <input matInput  placeholder ="Votre Nom" formControlName = "UserName" name ="UserName" >
        <mat-error *ngIf="Rform.get('UserName')?.errors?.['NomInvalide']" >
          Votre Nom est invalide!
        </mat-error>
        <mat-error *ngIf="Rform.get('UserName')?.errors?.['required']">
          Cettre réponse est <strong>requise</strong>
        </mat-error>
      </mat-form-field>
    </div>



    <div>
      <mat-form-field>
        <label>Password</label>
        <input formControlName = 'Password'  matInput type="text" placeholder="Votre mot de passe" >
        <mat-error *ngIf="Rform.get('Password')?.errors?.['PasswordInvalide']" >
          Votre Password est invalide!
        </mat-error>
        <mat-error *ngIf="Rform.get('Password')?.errors?.['required']">
          Cettre réponse est <strong>requise</strong>
        </mat-error>
      </mat-form-field>
    </div>


    <button (click)="service.Login(RData)" mat-raised-button color="primary" [disabled]="!Rform.valid">Connecter</button>
  </form>
</mat-card>

